<div class= "row">
<div class="jumbotron jumbotron-fluid">
<div class="container">
<h1 class="display-8">SOLE-MATE</h1>
<p class="lead">Your go to online sneaker resell store!</p>

<%= link_to "Add Sneakers", new_authentic_path, class:"btn btn primary btn-lg"%>
<a class=>
 </div>
</div>
<div class="col-md-6">
</div>
<div class="col-md-6">
</div >